@model IEnumerable<antons_auto.mvc.ViewModels.CarBrandViewModel>

@{
    ViewData["Title"] = "Bilmærker";
}

<h1>Bilmærke</h1>

<p>
    <a asp-action="Create">Opret nyt bilmærke</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarBrandID" class="btn btn-sm btn-warning">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.CarBrandID" class="btn btn-sm btn-info">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.CarBrandID" class="btn btn-sm btn-danger">Slet</a>
            </td>
        </tr>
    }
    </tbody>
</table>