@model antons_auto.mvc.ViewModels.CarViewModel

@{
    var showButtons = (bool)ViewData["ShowButtons"];
}

<style>
    .card {
        width: 300px;
    }

    dt {
        float: left;
        clear: left;
        width: 85px;
    }

    dd {
        margin-left: 0;
    }
</style>

<div class="card mx-2 my-3 mt-lg-0">
    <div class="card-header">
        <span>@Html.DisplayFor(modelItem => Model.CarBrandName) @Html.DisplayFor(modelItem => Model.CarModelName)</span>
    </div>
    <div class="card-body pb-0">
        <div class="text-center">
            <img src=@Html.Encode(Model.ImageUrl) asp-append-version="true" style="max-width: 100%;">
        </div>
        <dl class="mb-0">
            <dt>@Html.DisplayNameFor(model => model.CarBrandName)</dt>
            <dd>@Html.DisplayFor(modelItem => modelItem.CarBrandName)</dd>
            <dt>@Html.DisplayNameFor(model => model.CarModelName)</dt>
            <dd>@Html.DisplayFor(modelItem => modelItem.CarModelName)</dd>
            <dt>@Html.DisplayNameFor(model => model.Year)</dt>
            <dd>@Html.DisplayFor(modelItem => modelItem.Year)</dd>
            <dt>@Html.DisplayNameFor(model => model.Price)</dt>
            <dd>@Html.DisplayFor(modelItem => modelItem.Price)</dd>
            <dt>@Html.DisplayNameFor(model => model.MileAge)</dt>
            <dd>@Html.DisplayFor(modelItem => modelItem.MileAge)</dd>
            <dt>@Html.DisplayNameFor(model => model.FullAddress)</dt>
            <dd>@Html.DisplayFor(modelItem => modelItem.FullAddress)</dd>
        </dl>
    </div>
    @if (showButtons)
    {
        <div class="card-footer d-flex justify-content-around">
            <a asp-action="Edit" asp-route-id="@Model.CarID" class="btn btn-sm btn-warning btn-sm">Rediger</a>
            <a asp-action="Details" asp-route-id="@Model.CarID" class="btn btn-sm btn-info btn-sm">Detaljer</a>
            <a asp-action="Delete" asp-route-id="@Model.CarID" class="btn btn-sm btn-danger btn-sm">Slet</a>
        </div>
    }
</div>
