@model IEnumerable<antons_auto.mvc.ViewModels.CarModelViewModel>

@{
    ViewData["Title"] = "Bilmodeller";
}

<h1>Bilmodeller</h1>

<p>
    <a asp-action="Create">Opret ny bilmodel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModelName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarModelID" class="btn btn-warning">Rediger</a> |
                    <a asp-action="Details" asp-route-id="@item.CarModelID" class="btn btn-info">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarModelID" class="btn btn-danger">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
