@model IEnumerable<antons_auto.mvc.ViewModels.CarModelViewModel>

@{
    ViewData["Title"] = "Bilmodeller";
}

<h1>Bilmodeller</h1>

<p>
    <a asp-action="Create">Opret ny bilmodel</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@(ViewData["NameSortParm"].ToString().Equals("") ? "name_desc" : "" )>
                    @Html.DisplayNameFor(model =>
                     model.CarBrandName)

                    @if (@ViewData["NameSortParm"].ToString().Equals("name_desc"))
                    {
                        <span>(Faldende)</span>
                    }
                    else
                    {
                        <span>(Stigende)</span>
                    }
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModelName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarModelID" class="btn btn-sm btn-warning">Rediger</a> |
                    <a asp-action="Details" asp-route-id="@item.CarModelID" class="btn btn-sm btn-info">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarModelID" class="btn btn-sm btn-danger">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = int.Parse(ViewData["pageIndex"].ToString()).Equals(1) ? "disabled" : "";
    var nextDisabled =
        ViewData["pageIndex"].Equals(ViewData["pages"]) ||
        ViewData["pages"].Equals(0) ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["NameSortParm"]"
   asp-route-pageNumber=@(int.Parse(ViewData["pageIndex"].ToString()) - 1)
   class="btn btn-outline-secondary @prevDisabled">
    Forrige
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["NameSortParm"]"
   asp-route-pageNumber=@(int.Parse(ViewData["pageIndex"].ToString()) + 1)
   class="btn btn-outline-secondary @nextDisabled">
    Næste
</a>